*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
#container{

    background-color: blueviolet;
    width:60vw;
    height:60vh;
    border-radius:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    


}
.child{
    background-color:blue;
    width: 10px;
    height:20px;
}
.child1{
    top:0;
    left:30px;
}
.child2{
    /* top:0;
    left:50px; */
}
.child3{
    /* bottom:0;
    left:30px; */
}
